body {
	background-repeat: repeat;
	font: Georgia, serif;
}

.jumbotron {
  background-color: #ffad33;
  padding: 3.0em 0.5em;
  margin: 4.0em 0.0em 1.5em 0.0em;
  width: 100%;
  color: #3d7dc2;
}

/*.jumbotron h1, p {
	font-size: 4em;
    color: yellow;
}*/


#footerSpacer {
  background: transparent;
  width: 100%;
  height: 70px;
}

#footerPanel {
  text-align: center;
  color: #3d7dc2;
  background-color: #ffad33;
  padding-top: 10px;
  padding-bottom: 10px;
}
